<?php
# see ../license.txt for licensing

# this file should be renamed to config.php if you want to override ../config.php with scripts and such.

# example of how to choose between three different root directories based on POST variable 'choose_root'
/*
	if(!isset($_SESSION['choose_root']))$_SESSION['choose_root']=0;
	if(isset($_POST['choose_root']))$_SESSION['choose_root']=$_POST['choose_root'];
	switch($_SESSION['choose_root']){
		case 1: { # completely different files area than ../config.php
			$kfm_userfiles='/root/test1';
			$kfm_userfiles_output='/root/test1/';
			$kfm_db_type='mysql';
			$kfm_db_name='test1';
			$kfm_db_username='test1';
			$kfm_db_password='test1';
			break;
		}
		case 2: { # same as ../config.php, but read-only
			$kfm_allow_file_uploads=1;
			break;
		}
		default:{
			# nothing. uses the config as defined in ../config.php
		}
	}
*/

?>
